body{      
    background-color: #17202c;
    color: white;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;

    text-align: right;

    margin-top: -45px;
    margin-right: 200px;
   
    margin-bottom: 40px;
}
a{
    color: white;
    text-decoration: none;

    padding-right: 25px;
}
a:hover{
    color: rgb(238, 7, 169);
}

header > img{
    margin-top: 48px;
    margin-left: 220px;
}

#titulo1 > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 79px;

    text-align: start;

    margin-left: 390px;
    margin-top: 130px;

}

#titulo1 > h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 52px;

    text-align: start;

    margin-left: 390px;
    margin-top: -55px;
}

#subtitulo1{
    margin-top: -413px;
    margin-bottom: 400px;
    
    
}

#subtitulo1 > h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;

    text-align: end;

    margin-right: 200px;

    padding-top: 10px;

    line-height: 30px;
}

#subtitulo1 > h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    text-align: end;

    margin-right: 200px;
    margin-top: 20px;
}

#titulo2 > h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    color: rgb(238, 7, 169);

    margin-left: 210px;
    margin-top: -85px;

}

#titulo2 > h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;

    margin-left: 210px;
    margin-top: -7px;
}

#texto1{
    width: 330px;

    height: 680px;
    
    margin-left: 390px; 
    margin-top: -60px;

    border: 1px solid #2f3742;

    background-color: #1b2636;

    
}

#texto1 > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;

    margin-left: 50px;
    margin-top: 90px;
    padding-bottom: 40px;
    
}

#texto1 > h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    
    margin-left: 50px;
    margin-top: 30px;

    line-height: 28px;
}

#barra{
    color: #2f3742;
    background-color: white;
    width: 60px;
    height: 6px;

    margin-left: 50px;
    margin-top: 40px;
}

#texto1 > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
    margin-left: 50px;
    margin-top: 50px;

    line-height: 30px;
}

#texto2{
    width: 330px;

    height: 680px;
    
    margin-left: 720px; 
    margin-top: -682px;

    border: 1px solid #2f3742;

    background-color: #1b2636;
    
}

#texto2 > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;

    margin-left: 50px;
    margin-top: 90px;
    padding-bottom: 40px;
    
    
}

#texto2 > h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    
    margin-left: 50px;
    margin-top: 30px;

    line-height: 28px;
}

#barra{
    color: #2f3742;
    background-color: white;
    width: 60px;
    height: 6px;

    margin-left: 50px;
    margin-top: 40px;
}

#texto2 > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
    margin-left: 50px;
    margin-top: 50px;

    line-height: 30px;
}

#texto3{
    width: 320px;

    height: 680px;
    
    margin-left: 1030px; 
    margin-top: -682px;
    margin-bottom: 200px;

    border: 1px solid #2f3742;

    background-color: #1b2636;

    
}

#texto3 > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;

    margin-left: 50px;
    margin-top: 90px;
    padding-bottom: 40px;
    
    line-height: 40px;
    
}

#texto3 > h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    
    margin-left: 50px;
    margin-top: -35px;

    line-height: 28px;
}

#barra{
    color: #2f3742;
    background-color: white;
    width: 60px;
    height: 6px;

    margin-left: 50px;
    margin-top: 40px;
}

#texto3 > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
    margin-left: 50px;
    margin-top: 50px;

    line-height: 30px;
}

#titulo3 > h3{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

    color: #c32e6b;

    margin-left: 200px;
    margin-bottom: -15px;
}

#titulo3 > h2{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;

    margin-left: 200px;
    margin-bottom: 100px;

   
}

#titulo3 > h1{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;

    margin-left: 390px;
    margin-top: -130px;
    margin-bottom: -60px;
}

#botao > a{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;

    margin-left: 1280px;
    

    background-color: #c3317d;
    color: white;

    padding: 20px 26px 25px 26px;
}

#botao :hover{
    background-color: white;
    color: #c32e35;
}

#texto4 > h2{

    font-family: Arial, Helvetica, sans-serif;

    margin: 230px 0px 0px 440px;

    padding: 10px 0px 0px 0px;
}

#texto4 > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    line-height: 30px;

    margin: 0px 0px 0px 440px;
}

#texto4 > img{
    margin: -230px 0px 0px 1010px;
}

#texto5 > h2{

    font-family: Arial, Helvetica, sans-serif;

    margin: 76px 0px 0px 770px;

    padding: 10px 0px 0px 0px;
}

#texto5 > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    line-height: 30px;

    margin: 0px 0px 0px 770px;
}

#texto5 > img{
    margin: -235px 0px 0px 400px;
}

#texto6 > h2{

    font-family: Arial, Helvetica, sans-serif;

    margin: 44px 0px 0px 440px;

    padding: 10px 0px 0px 0px;

    
}

#texto6 > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    line-height: 30px;

    margin: 0px 0px 0px 440px;
}

#texto6 > img{
    margin: -235px 0px 0px 1010px;
}

#titulo4 > h3{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

    color: #c32e6b;

    margin-top: 130px;
    margin-left: 200px;
    margin-bottom: -15px;
}

#titulo4 > h2{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;

    margin-left: 200px;
    margin-bottom: 100px;

   
}

#titulo4 > h1{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;

    margin-left: 390px;
    margin-top: -100px;
    margin-bottom: -60px;
}

#primeiro{
    margin: 110px 0px 0px 390px;
}

#segundo{
    margin: -320px 210px 0px 0px;
    text-align: right;

}

#terceiro{
    margin: -18px 0px 0px 390px;
}

#quarto{
    margin: -331px 210px 0px 0px;
    text-align: right;
}

#quinto{
    margin: 0px 0px 0px 390px;
}

#sexto{
    margin: -320px 220px 0px 0px;
    text-align: right;
}

#setimo{
    margin: -18px 0px 0px 390px;
}

#oitavo{
    margin: -310px 210px 0px 0px;
    text-align: right;
}

#titulo5 > h3{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

    color: #c32e6b;

    margin-top: 80px;
    margin-left: 200px;
    margin-bottom: -15px;
}

#titulo5 > h2{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;

    margin-left: 200px;
    margin-bottom: 100px;

   
}

#titulo5 > h1{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;

    margin-left: 390px;
    margin-top: -140px;
    margin-bottom: -60px;
}

#sobreNós > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;

    margin: 100px 0px -40px 400px;

    line-height: 40px;
}

#sobreNós > h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

    margin: 100px 0px -60px 400px;

    line-height: 40px;
}

#sobreNós > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    margin: -160px 0px 0px 700px;

    line-height: 26px;
}

#titulo6 > h3{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

    color: #c32e6b;

    margin-top: 130px;
    margin-left: 200px;
    margin-bottom: -10px;
}

#titulo6 > h2{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;

    margin-left: 200px;
    margin-bottom: 100px;

   
}

#titulo6 > h1{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;

    margin-left: 390px;
    margin-top: -130px;
    margin-bottom: -60px;
}

#nono{
    margin: 120px 0px 0px 410px;
}
#dec{
    margin: -310px 0px 0px 710px;
}
#dec1{
    margin: -300px 0px 0px 1020px;
}
#dec2{
    margin: -28px 0px 0px 410px;
}
#dec3{
    margin: -310px 0px 0px 710px;
}
#dec4{
    margin: -300px 0px 0px 1020px;
}
#dec5{
    margin: 0px 0px 0px 410px;
}
#dec6{
    margin: -310px 0px 0px 710px;
}
#dec7{
    margin: -300px 0px 0px 1020px;
}
#dec8{
    margin: 0px 0px 0px 410px;
}
#dec9{
    margin: -310px 0px 0px 710px;
}
#vig{
    margin: -300px 0px 0px 1020px;
}
#vig1{
    margin: 0px 0px 0px 410px;
}
#vig2{
    margin: -310px 0px 0px 710px;
}
#vig3{
    margin: -300px 0px 0px 1020px;
}

#faleConosco > h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

    margin: 100px 0px 10px 210px;
}

#faleConosco > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85px;

    margin: 0px 0px 0px 215px;
}

#face{
    font-family: Arial, Helvetica, sans-serif;

    margin: 20px 0px 0px 210px;

    padding: 0px 0px 0px 0px;
}

#insta{
    font-family: Arial, Helvetica, sans-serif;

    margin: -23px 0px 0px 330px;

    padding: 0px 0px 0px 0px;
}

#link{
    font-family: Arial, Helvetica, sans-serif;

    margin: -23px 0px 0px 450px;

    padding: 0px 0px 0px 0px;
}

#faleConosco2 > p{
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 15px; 

    line-height: 30px;

  margin: -150px 0px 20px 990px;
}

#faleConosco2 > h2{
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 33px;
  
  line-height: 55px;

  margin: 0px 0px 300px 990px;
}

#copy > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: lighter;

    margin: -150px 0px 0px 210px;
}

#power > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: lighter;

    text-align: right;

    margin: -18px 200px 30px 0px;
}
















